.login-box img {
  width: 60%;
}

.content-header h1 {
  height: 2.1rem;
  line-height: 2.1rem;
}

.content-header .breadcrumb {
  margin-left: 0.6rem;
}

.content-header .breadcrumb-item {
  height: 2.1rem;
  line-height: 2.1rem;
}

.dashboard-card .info-box-content {
  display: block;
}

.dashboard-card .info-box-content .link-item {
  display: inline-block;
  margin-right: 0.1rem;
}
